<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>We are pleased to inform you that your order #[Order Number] has been successfully delivered to the shipping address provided.</p>
    <p>Order Details:</p>
    <ul>
        <li>Order Number: {{id}}</li>
        <li>Order Date: {{od}}</li>
        <li>Delivery Date: {{dd}}</li>
        <li>Items Delivered:{{quan}}</li>
    </ul>
    <p>We hope that you are satisfied with your purchase. If you have any questions or concerns regarding your order, please don't hesitate to contact us.</p>
    <span>Thank you for shopping with us!</span>
    <small>Best regards,</small>
    <p>[Your E-commerce Website Name] Team</p>

</body>
</html>