<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Dear {{name}},

    We are delighted to inform you that your exchange request has been approved. Here are the details of your exchange:

    Order ID:{{oid}}
    Exchange Item(s):{{qty}}
    Exchange Reason:{{note}}
    We kindly ask you to prepare the item(s) for exchange and ship them back to us using the provided return label
    within the next [Number of Days] days. Once we receive and inspect the returned item(s), we will promptly dispatch
    the replacement(s) to you.

    If you have any questions or require further assistance regarding the exchange process, please don't hesitate to
    contact our customer support team at [Customer Support Contact Information].

    Thank you for your cooperation and understanding.

    Best regards,
    [Your Company Name]
</body>

</html>