<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h6>Dear {{Name}}</h6> 
     <p>A password reset has been requested for the your account on [Your E-commerce Website Name]. If you did not initiate this request, please disregard this email.</p>
    <small>Please use the following OTP (One-Time Password) to reset your password:</small>
    <h6>OTP: {{Otp}}</h6>
    <span>Please note that this OTP is valid for a single use </span>
    <p>If you have any questions or concerns, please contact our support team.</p>
    <p>Thank you for keeping our website secure.</p>
    <p>Thank you,</p>
    <p>[Your E-commerce Website Name] Team</p>
</body>
</html>