<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h6>Hello [Customer's Name],</h6>
        <span>Thank you for choosing [Your E-commerce Website]! Your order #[{{Orders}}] has been successfully placed.
        </span>
        <h6>Here are the details of your order:</h6>
            <h6>Order Number:{{Orders}}</h6>
            <h6>Date:{{Date}}</h6>
            <h6>Items Ordered:{{Quantity}}</h6>
            <h6>Total Amount:{{Total}}</h6>
        <span>We will notify you once your order has been processed and shipped. If you have any questions regarding your order, feel free to contact us.</span>
        <p>Thank you for shopping with us!</p>
</body>
</html>