<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div  >
           <span>Dear <h6>{{Name}}</h6></span>
      </div>
      <div>
        <p>We are writing to confirm that your password has been successfully changed. Your account security is our top priority, and we want to ensure that your information remains protected at all times.</p>
      </div>
      <div>
        <span>Your New Password is {{New}}</span>
      </div>
      <div>
        <p>Thank you for choosing [Your Company Name]. If you have any questions or concerns, please don't hesitate to reach out to us</p>
      </div>
</body>
</html>