<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Dear <span>{{name}}</span>,

    We are pleased to inform you that your refund request has been successfully processed. Below are the details of your
    refund:

    Refund ID:<span>{{refund_id}}</span>
    Order ID: <span>{{oid}}</span>
    Refund Amount: <span>{{refund_amount}}</span>
    Please allow [Number of Days] business days for the refund amount to reflect in your account. If you have any
    further questions or concerns regarding your refund, feel free to contact our customer support team at [Customer
    Support Contact Information].

    Thank you for choosing [Your Company Name]!

    Sincerely,
    [Your Company Name]
</body>

</html>